<!DOCTYPE html>
<style>
body{  background-color: gray;}
    .image-container {
  text-align: center;
}

.image-container img {
  margin: 0 auto;
  display: block;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<h1>Hello User! Welcome to Nike Women shoes store <3</h1>
<h2>In our store you can find the perfect shoes ever :)</h2>
<div class="image-container"> 
<img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEpFLv2hkRXx7Fdpjr0_DnEuMBX6bmhQmuuA&usqp=CAU" width="1000" alt="Image">
</div>
<a  href="/product" ><button>Our AMAZING Shoes ---> </button> </a>

<body>

</body>
</html>