<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<a  href="/" ><button>Go Back to homepage</button> </a>
<a  href="/cart" ><button>Add to cart</button> </a>

<h1> Running Shoes 👟 :  </h1>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/44313b89-d6db-475d-8498-98c3a024d516/pegasus-40-road-running-shoes-5GQzRw.png" width="300"> 
<p>PRICE:₪499.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/479e9a0e-9bb5-4c0c-b1f7-ad4aa18b13d9/revolution-6-road-running-shoes-L33dh4.png" width="300">
<p>PRICE:₪249.90</p> 
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d3be1976-27b2-4400-b21b-b4567c6ca660/invincible-3-road-running-shoes-8tDZXB.png" width="300">
<p>PRICE:₪749.90</p> 
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/473721ff-6379-4c80-bc8c-f1b1c1e0f747/quest-5-road-running-shoes-4hZ4vq.png" width="300"> 
<p>PRICE:₪319.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/8939a2e3-6dcc-4b35-913a-355564b41bc7/wio-10-road-running-shoes-xns69V.png" width="300"> 
<p>PRICE:₪449.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/31ff8b80-45a4-4032-b61d-b22fa7645118/react-pegasus-trail-4-se-trail-running-shoes-ls2mM0.png" width="300">
<p>PRICE:₪549.90</p> 
<a  href="https://www.nike.com/il/w/womens-running-shoes-37v7jz5e1x6zy7ok" ><button>Click Me for more running shoes</button> </a>
<h1> LifeStyle Shoes 👟 :  </h1>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/l3w4varugbogihcpj40e/air-force-1-shadow-shoes-s07s35.png" width="300">
<p>PRICE:₪499.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/feb39c75-3aa3-44a7-9ec2-d298f19f2d27/air-max-270-shoes-9KTdg8qw.png" width="300">
<p>PRICE:₪599.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/cc7f9ed1-bb4b-4a8a-944d-586c7e05a03a/blazer-mid-77-shoes-Lk8HbM.png" width="300">
<p>PRICE:₪429.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d84055c3-220b-4dbd-9573-a1bff389baf2/vista-sandals-bZTxGh.png" width="300">
<p>PRICE:₪239.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/7cdaaa00-e57a-4810-ab52-961f661048c6/air-max-95-shoes-sB3bxq.png" width="300">
<p>PRICE:₪749.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5426d1ba-2a3c-489e-a298-07851a3a2fa1/victori-one-slides-HCPtZ2.png" width="300">
<p>PRICE:₪119.90</p>
<a  href="https://www.nike.com/il/w/womens-lifestyle-shoes-13jrmz5e1x6zy7ok" ><button>Click Me for more LifeStyle shoes</button></a>


<h1> Football Shoes 👟 :  </h1>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/8eeaeb24-9bf5-48cb-a507-e23ffabf2bfa/phantom-luna-elite-football-boot-1vV01P.png" width="300">
<p>PRICE:₪1,049.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ada7a276-595a-4228-beb1-1f990c333257/mercurial-superfly-9-elite-football-boot-j49dKx.png" width="300">
<p>PRICE:₪1,049.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6c29dab7-9672-4528-9c8b-921b9d98d101/mercurial-superfly-9-academy-multi-ground-football-boot-RTlCdM.png" width="300">
<p>PRICE:₪379.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d8f33421-6a80-4ffb-8def-8d766ec4d2f6/phantom-gx-academy-multi-ground-football-boot-hcht0Q.png" width="300">
<p>PRICE:₪269.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/4da54345-eed3-48a1-99d8-6b18745a670c/tiempo-legend-10-pro-football-shoes-54VNn8.png" width="300">
<p>PRICE:₪449.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a721bbfd-d244-42de-b061-b2c8d334296d/mercurial-superfly-9-elite-football-boot-vk8qM2.png" width="300">
<p>PRICE:₪1,049.90</p>

<a  href="https://www.nike.com/il/w/womens-football-shoes-1gdj0z5e1x6zy7ok" ><button>Click Me for more Football shoes</button></a>

<h1> Jordan Shoes 👟 :  </h1>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d3123e79-53e5-4a03-aa5b-fbc5c18b9bfd/air-jordan-1-low-shoes-1RBB3r.png" width="300">
<p>PRICE:₪499.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e9310401-b83f-481e-91bf-8e263f2c3aca/jumpman-mvp-shoes-vSz2R8.png" width="300">
<p>PRICE:₪639.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/51da3cd1-d3d5-4b8c-959c-c0d533c75462/jordan-one-take-4-basketball-shoes-x7Fvkp.png" width="300">
<p>PRICE:₪379.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/dce802d5-316c-4188-ac85-27407a749f09/air-jordan-1-retro-high-og-shoes-Cs3DpZ.png" width="300">
<p>PRICE:₪699.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c1260551-b4c5-4b27-9548-9f742439699c/jordan-sophia-slides-4Xgk3C.png" width="300">
<p>PRICE:₪299.90</p>
<img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/bd8d2a26-6e72-4e58-a6b7-a1bf4893f877/air-jordan-1-zoom-cmft-2-shoes-FZ5HJF.png" width="300">
<p>PRICE:₪629.90</p>

<a  href="https://www.nike.com/il/w/womens-jordan-shoes-37eefz5e1x6zy7ok" ><button>Click Me for more Jordan shoes</button></a>
<body>

</body>
</html>
